*{
    margin:1%;
    padding: 1%;
}

html, body {
    background-color: #f3f3f3;
    background-image: url(../images/bg_luck_cloud.jpg);
    font-family: "Microsoft YaHei";
    height: 100%;
}

.everydayinfo {
    width: auto;
    height: 100%;
    color: #999;
    overflow: hidden;
    position: relative;
}

.everydayinfo .Infotop {
    height: 100%;
    background-color: #fff;
    padding: 10px; /*border:1px solid #e5e5e5;box-shadow: 1px 1px 1px #e5e5e5;*/
}

.tactwo {
    text-align: center;
    font-size: 13px;
    color: #999;
    margin-bottom: 10px;
}

.worlDay {
    text-align: center;
    font-size: 14px;
    color: #666;
    height: 5.3872%;
}

.NumberDay {
    text-align: center;
    font: 70px Arial;
    color: #0af;
    height: auto;
    margin: 2%;
}

.lMonthDay {
    font-size: 16px;
    color: #666;
    text-align: center;
    font-weight: bolder;
    line-height: 16px;
    margin: 2%;
    height: auto;
}

.yjlist {
    width: 80%;
    height: 93px;
    max-height: 100px;
    margin: 0 10%;
    padding: 3px 0 6px 0;
    margin-bottom: 3%;
    color: #999;
}

.yjlist span {
    display: inline-block;
}

.ylistName {
    width: 28px;
    height: 23px;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    background-color: #65bf10;
    margin-right: 12px;
    padding-top: 3px;
    color: #fff;
}

.jlistName {
    width: 28px;
    height: 23px;
    padding-top: 3px;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    background-color: #ffaf23;
    margin-right: 12px;
    color: #fff;
}

.ylist, .jlist {
    margin-top: 7%;
    overflow: hidden;
    cursor: pointer;
}

#ylist, #ylist1, #jlist, #jlist3 {
    width: auto;
    height: auto;
    text-align: left;
    border-bottom: 1px solid #e5e5e5;
}

.split {
    border-bottom: 1px dotted #C1C1C1;
    margin: 20px 0;
}




