*{
    margin:1%;
    padding: 1%;
}

html, body {
    background-color: #f3f3f3;
    background-image: url(../images/bg_luck_cloud.jpg);
    font-family: "Microsoft YaHei";
    height: 100%;
}

.everydayinfo {
    width: auto;
    height: 100%;
    color: #999;
    overflow: hidden;
    position: relative;
}

.everydayinfo .Infotop {
    height: 100%;
    background-color: #fff;
    padding: 10px; /*border:1px solid #e5e5e5;box-shadow: 1px 1px 1px #e5e5e5;*/
}

.clsShengxiaoGanzhi {
    text-align: center;
    font-size: 13px;
    color: #999;
    margin-bottom: 10px;
}

.clsGregorianYearMonth {
    text-align: center;
    font-size: 14px;
    color: #666;
    height: 5.3872%;
}

.clsGregorianDate {
    text-align: center;
    font: 70px Arial;
    color: #0af;
    height: auto;
    margin: 2%;
}

.clsLunarDate {
    font-size: 16px;
    color: #666;
    text-align: center;
    font-weight: bolder;
    line-height: 16px;
    margin: 2%;
    height: auto;
}

.clsYiJiList {
    width: 100%;
    height: auto;
    color: #999;
    word-wrap: break-word;
    word-break: break-all;
    display: inline-block;
}

.clsYiJiList span {
    display: inline-block;
}

.ylistName {
    width: 28px;
    height: 23px;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    background-color: #65bf10;
    margin-right: 12px;
    padding-top: 3px;
    color: #fff;
}

.jlistName {
    width: 28px;
    height: 23px;
    padding-top: 3px;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    background-color: #ffaf23;
    margin-right: 12px;
    color: #fff;
}

.clsYiList,.clsJiList {
    margin-top: 7%;
    overflow: hidden;
    cursor: pointer;
    word-wrap: break-word;
    word-break: break-all;
}

#currentDayYi, #currentDayYi{
    width: 100%;
    height: 100%;
    text-align: left;
    word-wrap: break-word;
    word-break: break-all;
    border-bottom: 1px solid #e5e5e5;
}

.split {
    border-bottom: 1px dotted #C1C1C1;
    margin: 20px 0;
}




