@import "custom.css";

html{
    font-size:25px;
    font-family: 'Open Sans',sans-serif;
}

h1{
    font-size: 60px;
    text-align: center;
}

p,li{
    font-size: 16px;
    line-height:2;
    letter-spacing: 1px;
}

html{
    background-color: #F3EFEB;
}

body{
    width:auto;
    margin:0 auto;
    background-color: transparent;
    background-image: url(../bg_lucky_cloud_2.png);
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1{
    margin:0;
    padding: 0;
    color: red;
    text-shadow: 3px 3px 1px black;
    text-decoration: underline;
}

img{
    display: block;
    margin:0 auto;
}

div p, #id:first-line{
    background-color: turquoise;
    background-style:none;
}

@media (min-width: 801px) {
    body{
        margin:0 auto;
        width: 800px;
    }
}